header {
    box-shadow: 10px 5px 5px #f3f3f3;
}

hr {
    margin: 21px 0 35px;
}

textarea {
    resize: vertical;
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    min-height: 40px;
    max-height: 250px;
}

.main-info {
    max-width: 960px;
}

.detail-contacts h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
}

.detail-contacts h2 {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
}

.detail-contacts p {
    font-size: 14px;
    line-height: 21px;
    color: #666;
}

.detail-contacts a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.detail-contacts p .mail-link {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
}

.requisites {
    padding-right: 70px;
}

.detail-contacts .row {
    flex-wrap: nowrap;
}

.map {
    width: 50%;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.callback-form{
    width: 50%;
}

.content-form {
    max-width: 96%;
}

.callback-form input,
.callback-form textarea{
    border-radius: 3px;
    border: 1px solid #c4c4d3;
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    margin-bottom: 9px;
    padding: 0 0 0 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex label {
    width: 47%;
}

.callback-form h3 {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Roboto Slab";
    width: 47%;
    margin: 0 0 20px 0;
}

.callback-form .name,
.callback-form .phone,
.callback-form .subject,
.callback-form .text {
    width: 100%;
    height: 37px;
}

.callback-form .text {
    height: 106px;
}

.send button {
    width: 140px;
    height: 41px;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s ease;
}

.send button:hover {
    color: #ffffff;
    background-color: #fd8300;
}

.check {
    visibility: hidden;
    position: absolute;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
}

.check + label {
    position: relative;
    padding: 0 25px;
    margin-left: 30px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
}
  
.check + label:before,
.check + label:after {
    content: "";
    position: absolute;
}
  
.check + label:before {
    left: 0;
    top: -2px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
  
.check:checked + label:before {
    background-color: #ffffff;
}
  
.check + label:after {
    left: 4px;
    top: 2px;
}
  
.check:checked + label:after {
    width: 8px;
    height: 5px;
    border-right: 2px solid #1f1f56;
    border-top: 2px solid #1f1f56;
    transform: rotate(135deg);    
}