@media screen and (max-width: 984px) {
    .wrapper {
        width: 90%;
    }
    
    .contact-info {
        flex-wrap: nowrap;
        row-gap: 0rem;
    }

    .main-with-aside {
        max-width: 65%;
    }

    .home {
        width: 47%;
    }
    
    .cta a {
        padding: 9rem 20rem;        
        font-size: 14rem;
    }

    .contact-info .phones, .contact-info .messengers {
        padding-left: 28rem;
    }

    .messengers a {
        font-size: 14rem;
    }
    
    .phones a {
        font: bold 16rem/18rem Arial;
    }
    
    .stick {
        position: relative;
    }

    .stick::before {
        right: -13rem;
        top: 9px;
    }

    .footer .row {
        justify-content: space-evenly;
        row-gap: 0rem;
    }

    .footer-menu {
        width: auto;
    }
    
    .detail-contacts .row {
        flex-wrap: wrap;
    }

    .detail-contacts h2 {
        text-align-last: left;
    }

    .map {
        width: 100%;
        height: 50vh;
    }

    .callback-form {
        width: 100%;
    }

    .callback-form h3 {
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .flex label {
        width: 100%;
    }

}


@media screen and (max-width: 913px) {
    .contact-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .stick::before {
        right: 3%;
    }

    .detail-contacts .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 862px) {
    .sidebar {
        order: -1;
        width: 100%;
    }

    .main-with-aside {
        max-width: 100%;
    }

    .home {
        width: 48%;
    }

    .popular-projects .row {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 794px) {
    .contact-info {
        flex-direction: row-reverse;
        justify-content: space-around;
        position: relative;
    }

    .contact-info .cta {
        order: -1;
    }

    .stick {
        position: unset;
        text-align: right;
    }

    .stick::before {
        left: 50%;
        top: 51%;    
    }

    .price-table {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 792px) {
    .main-info h2 {
        text-align: center;
    }

    .messengers {
        margin-top: -5rem;
    }

    .home {
        width: 42%;
    }

    .home source,
    .home img {
        width: 100%;
    }

    
}

@media screen and (max-width: 860px) {
    .requisites {
        padding: 0;
    }
}

@media screen and (max-width: 842px) {
    body {
        padding-top: 52px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        margin: 4px 0;
        width: 35px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;  
    }

    .hamburger-open span:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18rem;
    }

    .hamburger-open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-open span:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -18rem;
    }

    .header {
        padding: 9rem 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #1f1f56;
        margin: 0 auto;
        z-index: 10;
    }

    .header .social {
        margin: auto -14rem;
    }

    .header .menu {
        display: none;
    }

    .menu.active-burger {
        display: block;
    }

    .header .menu ul {
        display: flex;
        margin: 0;
        position: absolute;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 55rem;        
        background-color: #e4e4ec;
        z-index: 1;
        row-gap: 0;
    }
    
    .menu a {
        display: inline-block;
        width: 100%;
        padding: 10rem 0;
        color: #25252c;
        line-height: 24rem;
        font-weight: 700;
    }

    .menu > ul > li + li > a {
        border-top: 1rem solid #cdcddd;
    }
}

@media screen and (max-width: 780px) {
    .detail-contacts .row {
        justify-content: flex-start
    }
    
    .office {
        width: 50%;
    } 
}

@media screen and (max-width: 517px) {
    .contact-info {
        text-align: center;
    }
    
    .contact-info .cta {
        order: 0;
        width: 219px;
        text-align: center;
    }

    .stick {
        text-align: center;
    }

    .stick::before {
        width: 51px;
        height: 1rem;
        left: 45%;
        top: 50%;
    }

    .home {
        width: 70%;
    }


    .footer-menu {
        margin: 5rem 0;
        padding: 0 0 10rem 10rem;
        width: 40%;
    }

    .footer .phones a {
        font-size: 14rem;
    }

    .footer .phones, .footer .messengers {
        padding-left: 11rem;
        width: 40%;
    }

    .detail-contacts {
        font-size: 0.8px;
    }

    .detail-contacts a {
        font-size: 14rem;
    }

    .detail-contacts p {
        margin: 1rem 0;
        line-height: 18rem;
    }

    .detail-contacts .row {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .send {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .check + label {
        margin: 12rem 0;
        padding: 0 0 0 29rem;
        order: -1;
    }

    .check + label:before {
        top: 0;
    }

    
}


@media screen and (max-width: 425px) {
    .footer .phones, .footer .messengers {
        padding-left: 11rem;
        width: 80%;
    }

    .home {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .home {
        width: 100%;
    }

}

@media screen and (min-width: 1380px) {
    html {
        font-size: 1.2px;
    }

    a.scale {
        transform: scale(1.2);
    }

    .skype:before {
        transform: scale(1.2);
    }

    .mail:before {
        transform: scale(1.2);
    }

    .tel:before {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1770px) {
    html {
        font-size: 1.4px;
    }

    a.scale {
        transform: scale(1.4);
    }

    .skype:before {
        transform: scale(1.4);
    }

    .mail:before {
        transform: scale(1.4);
    }

    .tel:before {
        transform: scale(1.4);
    }

}

@media screen and (min-width: 2000px) {
    html {
        font-size: 1.6px;
    }

    a.scale {
        transform: scale(1.6);
    }

    .skype:before {
        transform: scale(1.6);
    }

    .mail:before {
        transform: scale(1.6);
    }

    .tel:before {
        transform: scale(1.6);
    }

}

@media screen and (min-width: 2400px) {
    html {
        font-size: 1.8px;
    }

    a.scale {
        transform: scale(1.8);
    }

    .skype:before {
        transform: scale(1.8);
    }

    .mail:before {
        transform: scale(1.8);
    }

    .tel:before {
        transform: scale(1.8);
    }

}

@media screen and (min-width: 2700px) {
    html {
        font-size: 2px;
    }

    a.scale {
        transform: scale(2);
    }

    .skype:before {
        transform: scale(2);
    }

    .mail:before {
        transform: scale(2);
    }

    .tel:before {
        transform: scale(2);
    }

}