.price-title {
    font-size: 24rem;
    color: #24242b;
}

.price-table {
    border-radius: 3rem;
    position: relative;
    margin: 25rem 0;
    overflow: hidden;
}

.price-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

.price-table th {
    background-color: #1f1f56;
    color: #ffffff;
    font: 700 14rem "Roboto Slab";
    padding: 13rem 20rem;
    text-align: left;
}

.price-table td {
    font-size: 14rem;
    color: #666;
    background-color: #e4e4ec;
    padding: 12rem 20rem;
}

.price-table tbody tr + tr {
    border-top: 1rem solid #cdcddd;
}

.price-table tbody tr:hover td {
    background-color: #fd8300;
    color: white;
    cursor: pointer;
}

.price-table td:last-child,
.price-table th:last-child {
    text-align: right;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 24px;
    height: 8px; 
    background-color: #e4e4ec;
    border-bottom-right-radius: 3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f56;
    border-radius: 9rem;
    /* box-shadow: inset 1px 1px 10px #f3faf7; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fd8300;
}

