.price-title {
    font-size: 24px;
    color: #24242b;
}

.price-table {
    border-radius: 3px;
    margin: 25px 0;
    overflow: hidden;
}

.price-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

.price-table th {
    background-color: #1f1f56;
    color: #ffffff;
    font: 700 14px "Roboto Slab";
    padding: 13px 20px;
    text-align: left;
}

.price-table td {
    font-size: 14px;
    color: #666;
    background-color: #e4e4ec;
    padding: 12px 20px;
}

.price-table tbody tr + tr {
    border-top: 1px solid #cdcddd;
}

.price-table tbody tr:hover td {
    background-color: #fd8300;
    color: white;
    cursor: pointer;
}

.price-table td:last-child,
.price-table th:last-child {
    text-align: right;
}